{% extends 'shop/base.html'%}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    
    <tr>
      <td>{{item.product}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.total}}</td>
      <td> <a href="remove/{{item.id}}" class="btn btn-outline-warning">Delete</a></td>
    </tr>
  </tbody>
  {% endfor %}
  <tfoot>
    <td style="font-weight:bold">Total</td>
    <td></td>
    <td></td>
    <td> <a href="order/" class="btn btn-outline-info">Order</a></td>
  </tfoot>
</table>


{% endblock %}